BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #111111
}
FORM {
	MARGIN: 0px
}
.sendButton {
	FONT-SIZE: 14px; HEIGHT: 24px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh18 {
	LINE-HEIGHT: 18px
}
.lh16 {
	LINE-HEIGHT: 16px
}
.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.h3 {
	FONT-SIZE: 13px
}
.DP {
	
}
.gray {
	COLOR: #777
}
.white {
	COLOR: #fff
}
.writebold {
	FONT-WEIGHT: bold; COLOR: #fff
}
.graybold {
	FONT-WEIGHT: bold; COLOR: #777
}
A:link {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T1:link {
	FONT-WEIGHT: bold; COLOR: #0044dd; TEXT-DECORATION: none
}
A.T1:visited {
	FONT-WEIGHT: bold; COLOR: #0044dd; TEXT-DECORATION: none
}
A.T1:hover {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T1:active {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T2:link {
	COLOR: #111111; TEXT-DECORATION: underline
}
A.T2:visited {
	COLOR: #111111; TEXT-DECORATION: underline
}
A.T2:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T2:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T3:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.T3:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.T3:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.T3:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.T4:link {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.T4:visited {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.T4:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.T4:active {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.T5:link {
	COLOR: #777; TEXT-DECORATION: underline
}
A.T5:visited {
	COLOR: #777; TEXT-DECORATION: underline
}
A.T5:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T5:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T6:link {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.T6:visited {
	FONT-WEIGHT: bold; COLOR: #ff9900; TEXT-DECORATION: none
}
A.T6:hover {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.T6:active {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.T7:link {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.T7:visited {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
A.T7:hover {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.T7:active {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.T8:link {
	COLOR: #777; TEXT-DECORATION: none
}
A.T8:visited {
	COLOR: #777; TEXT-DECORATION: none
}
A.T8:hover {
	COLOR: #ff5500; TEXT-DECORATION: none
}
A.T8:active {
	COLOR: #ff5500; TEXT-DECORATION: none
}
A.T9:link {
	FONT-SIZE: 14px; COLOR: #0044dd; TEXT-DECORATION: none
}
A.T9:visited {
	FONT-SIZE: 14px; COLOR: #0044dd; TEXT-DECORATION: none
}
A.T9:hover {
	FONT-SIZE: 14px; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T9:active {
	FONT-SIZE: 14px; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.T10:link {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #c9dcff; PADDING-BOTTOM: 1px; COLOR: #0044dd; LINE-HEIGHT: 26px; PADDING-TOP: 1px; TEXT-DECORATION: none
}
A.T10:visited {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #c9dcff; PADDING-BOTTOM: 1px; COLOR: #0044dd; LINE-HEIGHT: 26px; PADDING-TOP: 1px; TEXT-DECORATION: none
}
A.T10:hover {
	BACKGROUND: #f50000; COLOR: #fff
}
A.T11:link {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #fce0ea; PADDING-BOTTOM: 3px; COLOR: #ce0009; LINE-HEIGHT: 24px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.T11:visited {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #fce0ea; PADDING-BOTTOM: 3px; COLOR: #ce0009; LINE-HEIGHT: 24px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.T11:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: #fce0ea; PADDING-BOTTOM: 3px; COLOR: #ce0009; LINE-HEIGHT: 24px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
A.T11:link {
	BORDER-RIGHT: #ce777b 2px solid; BORDER-TOP: #fcbdd3 1px solid; BORDER-LEFT: #fcbdd3 1px solid; BORDER-BOTTOM: #ce777b 2px solid
}
A.T11:visited {
	BORDER-RIGHT: #ce777b 2px solid; BORDER-TOP: #fcbdd3 1px solid; BORDER-LEFT: #fcbdd3 1px solid; BORDER-BOTTOM: #ce777b 2px solid
}
A.T11:hover {
	BORDER-RIGHT: #fcbdd3 1px solid; BORDER-TOP: #ce777b 2px solid; BORDER-LEFT: #ce777b 2px solid; BORDER-BOTTOM: #fcbdd3 1px solid
}
A.T12:link {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #0044dd; PADDING-TOP: 4px; TEXT-DECORATION: underline
}
A.T12:visited {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #0044dd; PADDING-TOP: 4px; TEXT-DECORATION: underline
}
A.T12:hover {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #fce0ea; PADDING-BOTTOM: 4px; COLOR: #ce0009; LINE-HEIGHT: 20px; PADDING-TOP: 4px; TEXT-DECORATION: underline
}
.number {
	FONT-WEIGHT: bold; COLOR: #ff5500; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.number2 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ff5500; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cityName {
	FONT-SIZE: 25px; FONT-FAMILY: ºÚÌå
}
A.otherCity:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.otherCity:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.otherCity:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.otherCity:active {
	COLOR: #666666; TEXT-DECORATION: underline
}
.yellowBorderBg {
	BORDER-RIGHT: #ffcc00 1px solid; BORDER-TOP: #ffcc00 1px solid; BORDER-LEFT: #ffcc00 1px solid; BORDER-BOTTOM: #ffcc00 1px solid; BACKGROUND-COLOR: #fffeed
}
.line {
	BORDER-BOTTOM: #ccc 1px solid
}
.line2 {
	BORDER-BOTTOM: #ccc 1px dotted
}
.imgBorder {
	BORDER-RIGHT: #e6e6e6 1px solid; BORDER-TOP: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid
}
.imgBorder2 {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #e6e6e6 1px solid
}
.listSortBg {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f6f6
}
A.toolBar:link {
	COLOR: #111111; TEXT-DECORATION: none
}
A.toolBar:visited {
	COLOR: #111111; TEXT-DECORATION: none
}
A.toolBar:hover {
	FONT-WEIGHT: bold; COLOR: #111111; TEXT-DECORATION: underline
}
A.toolBar:active {
	FONT-WEIGHT: bold; COLOR: #111111; TEXT-DECORATION: underline
}
.toolBarBg1 {
	BACKGROUND: url(../../images/store/bg_menu3.gif) no-repeat 50% bottom
}
.toolBarBg2 {
	BACKGROUND: url(../../images/store/bg_menu2.gif) no-repeat
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000
}
.success {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000
}
.tip {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000
}
.notice {
	COLOR: #888
}
.import {
	COLOR: #ff0000
}
A.sendMes:link {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.sendMes:visited {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.sendMes:hover {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
A.sendMes:active {
	FONT-WEIGHT: bold; COLOR: #ff5500; TEXT-DECORATION: underline
}
.postTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 26px
}
.LiftMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff
}
.FakeLink {
	CURSOR: hand; COLOR: #0044dd; TEXT-DECORATION: underline
}
.inp {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.number3 {
	COLOR: #999; FONT-FAMILY: "MS Sans Serif", Geneva, sans-serif
}
.inputTurnpage {
	BORDER-RIGHT: #a8a8a8 1px solid; BORDER-TOP: #a8a8a8 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #a8a8a8 1px solid; BORDER-BOTTOM: #a8a8a8 1px solid; FONT-FAMILY: Verdana; HEIGHT: 11px
}
A.pageNum:link {
	BORDER-RIGHT: #c7c7c7 1px solid; PADDING-RIGHT: 0.35em; BORDER-TOP: #c7c7c7 1px solid; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0.02em; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #0044dd; PADDING-TOP: 0.02em; BORDER-BOTTOM: #c7c7c7 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pageNum:visited {
	BORDER-RIGHT: #c7c7c7 1px solid; PADDING-RIGHT: 0.35em; BORDER-TOP: #c7c7c7 1px solid; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0.02em; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #0044dd; PADDING-TOP: 0.02em; BORDER-BOTTOM: #c7c7c7 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pageNum:active {
	PADDING-RIGHT: 0.35em; PADDING-LEFT: 0.35em; FONT-SIZE: 11px; BACKGROUND: #d7d7d7; PADDING-BOTTOM: 0.02em; PADDING-TOP: 0.02em; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.pageCurrent {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f50000; FONT-FAMILY: Verdana
}
A.pageNumfang:link {
	BORDER-RIGHT: #c7c7c7 1px solid; PADDING-RIGHT: 0.35em; BORDER-TOP: #c7c7c7 1px solid; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0.02em; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #0044dd; PADDING-TOP: 0.02em; BORDER-BOTTOM: #c7c7c7 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pageNumfang:visited {
	BORDER-RIGHT: #c7c7c7 1px solid; PADDING-RIGHT: 0.35em; BORDER-TOP: #c7c7c7 1px solid; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0.02em; BORDER-LEFT: #c7c7c7 1px solid; COLOR: #0044dd; PADDING-TOP: 0.02em; BORDER-BOTTOM: #c7c7c7 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pageNumfang:active {
	PADDING-RIGHT: 0.35em; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d7d7d7; PADDING-BOTTOM: 0.02em; PADDING-TOP: 0.02em; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.pageCurrentfang {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f50000; FONT-FAMILY: Verdana
}
A.pageNum:hover {
	PADDING-RIGHT: 0.35em; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d7d7d7; PADDING-BOTTOM: 0.02em; COLOR: #0044dd; PADDING-TOP: 0.02em; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.pageNumfang:hover {
	PADDING-RIGHT: 0.35em; PADDING-LEFT: 0.35em; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d7d7d7; PADDING-BOTTOM: 0.02em; COLOR: #0044dd; PADDING-TOP: 0.02em; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.cityNamepy {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f50000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana
}
.cityNamepx12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 180%
}
.citySelectpx14 {
	FONT-SIZE: 14px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.Col3 {
	WIDTH: 100%
}
DIV.Col3 DIV.Col3Left {
	FLOAT: left; WIDTH: 33%
}
DIV.Col3 DIV.Col3Mid {
	FLOAT: left
}
DIV.Col3 DIV.Col3Right {
	FLOAT: right; WIDTH: 435px
}
DIV.W760 DIV#Head {
	WIDTH: 760px
}
DIV#Head {
	MARGIN: 8px auto; FONT-FAMILY: ËÎÌå! important
}
DIV#Head A {
	TEXT-DECORATION: none! important
}
DIV#Head DIV#Logo {
	FLOAT: left; HEIGHT: 46px
}
DIV#Head DIV#Channel {
	TEXT-ALIGN: left
}
DIV#Head DIV#City {
	MARGIN: 3px; TEXT-ALIGN: left
}
DIV#Head DIV#City H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#Head DIV#City H4 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 6px; COLOR: #999
}
DIV#Head DIV#City H4 SPAN A {
	COLOR: #999; TEXT-DECORATION: underline
}
DIV#Head DIV#City H4 SPAN A:hover {
	COLOR: #ff6600
}
DIV#Head LI {
	FLOAT: left; MARGIN-RIGHT: 5px; LIST-STYLE-TYPE: none
}
DIV#Head LI LI {
	FLOAT: left; MARGIN-RIGHT: 5px; LIST-STYLE-TYPE: none
}
DIV#Head UL#GlobalNav {
	FLOAT: right; MARGIN: 3px 0px 8px; WIDTH: 373px
}
DIV#Head UL#GlobalNav LI {
	FONT-WEIGHT: bold; Z-INDEX: 30; BACKGROUND: url(/images/common/icon/globalnav_bg.gif) repeat-x
}
DIV#Head UL#GlobalNav LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(/images/common/icon/globalnav_left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #111; PADDING-TOP: 0px
}
DIV#Head UL#GlobalNav LI A:hover {
	COLOR: #ff6600
}
DIV#Head UL#GlobalNav LI A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(/images/common/icon/globalnav_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 7px; CURSOR: hand; PADDING-TOP: 7px
}
DIV#Head UL#GlobalNav LI.Hot {
	BACKGROUND: url(/images/common/icon/globalnav_bg2.gif) repeat-x; MARGIN-LEFT: -10px; POSITION: relative
}
DIV#Head UL#GlobalNav LI.Hot A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: url(/images/common/icon/icon_jt_black.gif) no-repeat 30px 10px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #111; PADDING-TOP: 0px
}
DIV#Head UL#GlobalNav LI.Hot A:hover {
	COLOR: #ff6600
}
DIV#Head UL#GlobalNav LI.Channel {
	BACKGROUND: url(/images/common/icon/globalnav_bg2.gif) repeat-x; MARGIN-LEFT: -10px; POSITION: relative
}
DIV#Head UL#GlobalNav LI.Channel A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: url(/images/common/icon/icon_jt_gray.gif) no-repeat 33px 8px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #111; PADDING-TOP: 0px
}
DIV#Head UL#GlobalNav LI.Channel A:hover {
	COLOR: #ff6600
}
DIV#Head UL#GlobalNav LI DIV.NavAll {
	BORDER-RIGHT: #ffbd8c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffbd8c 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fffff7; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffbd8c 1px solid; WIDTH: 50px; PADDING-TOP: 5px; BORDER-BOTTOM: #ffbd8c 1px solid
}
DIV#Head UL#GlobalNav DIV.NavAll LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 50px; LINE-HEIGHT: 1.5em; MARGIN-RIGHT: -10px; BORDER-BOTTOM: #ffb58c 1px dashed; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
DIV#Head UL#GlobalNav DIV.NavAll LI.HotNav {
	PADDING-LEFT: 10px; BACKGROUND: url(/images/common/icon/arrow_gray.gif) no-repeat 3px 5px; BORDER-BOTTOM-STYLE: none
}
DIV#Head UL#GlobalNav DIV.NavAll LI.HotNav A {
	COLOR: #9c9c9c; TEXT-DECORATION: underline! important
}
DIV#Head UL#GlobalNav DIV.NavAll LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #111
}
DIV#Head UL#GlobalNav DIV.NavAll LI A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline! important
}
DIV#Head UL#Utility {
	FLOAT: right
}
DIV#Head UL#Utility A {
	COLOR: #0044dd
}
DIV#Head UL#Utility LI#Tools {
	MARGIN-TOP: -1px; Z-INDEX: 30
}
DIV#Head UL#Utility LI#Tools A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: url(/images/common/icon/icon_jt_black.gif) no-repeat right 50%; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
DIV#Head UL#Utility LI#Tools DIV#DetailTools {
	BORDER-RIGHT: #d6d6d6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; BORDER-LEFT: #d6d6d6 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d6d6d6 1px solid
}
DIV#Head UL#Utility LI#Tools DIV#DetailTools LI {
	PADDING-LEFT: 13px; BACKGROUND: url(/images/common/icon/arrow_gray.gif) no-repeat 5px 7px; WIDTH: 65px; LINE-HEIGHT: 1.5em; MARGIN-RIGHT: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
DIV#Head UL#Utility LI#Tools DIV#DetailTools LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #111
}
DIV#Head UL#Utility LI#Tools DIV#DetailTools LI A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#footerWrapper {
	FONT-SIZE: 12px; TEXT-ALIGN: center
}
DIV.W760 DIV#footer {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: center
}
#footer {
	BORDER-TOP: #ccc 2px solid; MARGIN: 10px auto; TEXT-ALIGN: center
}
#footer760 {
	BORDER-TOP: #ccc 2px solid; MARGIN: 10px auto; TEXT-ALIGN: center
}
#footer950 {
	BORDER-TOP: #ccc 2px solid; MARGIN: 10px auto; TEXT-ALIGN: center
}
#footer A {
	PADDING-RIGHT: 0px
}
#footer760 A {
	PADDING-RIGHT: 0px
}
#footer950 A {
	PADDING-RIGHT: 0px
}
#footer760 {
	WIDTH: 760px
}
#footer950 {
	WIDTH: 950px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#footer760 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#footer950 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#footer UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: url(/images/common/icon/dot_23.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#footer760 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: url(/images/common/icon/dot_23.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#footer950 UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px; BACKGROUND: url(/images/common/icon/dot_23.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#footer UL LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#footer760 UL LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#footer950 UL LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#GroupSite {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: center
}
UL#GroupSite LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL#GroupSite LI.first {
	MARGIN-LEFT: 6px; MARGIN-RIGHT: -5px
}
.copyright {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Tel {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.8em; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.W760 DIV#NavBar {
	WIDTH: 760px
}
DIV#NavBar {
	MARGIN: 0px auto; BORDER-BOTTOM: #e36214 2px solid; TEXT-ALIGN: center
}
DIV#NavBar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 659px; PADDING-TOP: 0px
}
DIV#NavBar LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
DIV#NavBar LI A {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(/images/store/navbar_bg.gif) no-repeat; PADDING-BOTTOM: 1px; WIDTH: 95px; COLOR: #111; MARGIN-RIGHT: 1px; PADDING-TOP: 7px
}
DIV#NavBar LI A:hover {
	BACKGROUND: url(/images/store/navbar_bg_hover.gif) no-repeat
}
DIV#NavBar LI.Current A {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/store/navbar_bg_current.gif) no-repeat; PADDING-BOTTOM: 4px; WIDTH: 82px; COLOR: #fff; MARGIN-RIGHT: 1px; PADDING-TOP: 9px; LIST-STYLE-TYPE: none
}
DIV#NavBar LI.Current A:hover {
	BACKGROUND: url(/images/store/navbar_bg_current.gif) no-repeat
}
DIV.W760 DIV#SearchBar {
	WIDTH: 760px
}
DIV#SearchBar {
	BACKGROUND: url(/images/store/searchbar_bg.gif) repeat-x; MARGIN: 0px auto 10px; POSITION: relative; HEIGHT: 36px
}
DIV#SearchBar SPAN.Left {
	BACKGROUND: url(/images/store/searchbar_bg_left.gif) no-repeat; FLOAT: left; WIDTH: 10px; HEIGHT: 36px
}
DIV#SearchBar SPAN.Right {
	RIGHT: -1px; BACKGROUND: url(/images/store/searchbar_bg_right.gif) no-repeat; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 36px
}
DIV#SearchBar UL {
	PADDING-LEFT: 30px; BACKGROUND: url(/images/common/icon/icon_search.gif) no-repeat 0px 6px; MARGIN: 0px auto; WIDTH: 550px; PADDING-TOP: 5px; HEIGHT: 36px
}
DIV#SearchBar UL LI {
	FLOAT: left; MARGIN-RIGHT: 2px; LIST-STYLE-TYPE: none
}
DIV#SearchBar LI.YPosition {
	MARGIN-TOP: 1px
}
DIV#SearchBar INPUT {
	FONT-SIZE: 14px
}
SELECT {
	FONT-SIZE: 14px
}
DIV#SearchBar INPUT.WSize1 {
	WIDTH: 200px; HEIGHT: 16px
}
DIV#SearchBar INPUT.WSize2 {
	WIDTH: 100px; HEIGHT: 16px
}
.DiscountQuan {
	PADDING-RIGHT: 0px; PADDING-LEFT: 19px; FONT-WEIGHT: bold! important; BACKGROUND: url(/images/common/icon/icon_rmb.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN-LEFT: 8px; COLOR: #ff5500! important; PADDING-TOP: 2px
}
DIV.shadowbox {
	Z-INDEX: 50; BACKGROUND: #ccc; LEFT: 25%; POSITION: absolute; TOP: 25%
}
DIV#popup {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; LEFT: -4px; PADDING-BOTTOM: 15px; BORDER-LEFT: #777 1px solid; BORDER-BOTTOM: #777 1px solid; POSITION: relative; TOP: -4px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
DIV#popup H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/common/dialogbox_titlebackground.gif); PADDING-BOTTOM: 14px; MARGIN: 0px 0px 10px; COLOR: #777; PADDING-TOP: 11px
}
DIV#popup #close {
	RIGHT: 10px; POSITION: absolute; TOP: 9px
}
DIV#SimilarShop {
	MARGIN: 0px 15px
}
DIV#SimilarShop H1 {
	FONT-SIZE: 14px; MARGIN: 15px 0px 10px
}
DIV#SimilarShop UL {
	OVERFLOW: auto; HEIGHT: 300px
}
DIV#SimilarShop LI {
	LIST-STYLE-POSITION: inside; COLOR: #ccc; LINE-HEIGHT: 20px
}
INPUT {
	MARGIN-RIGHT: 2px
}
